{% extends "admin/base.html" %}
{% load static %}
{% load template_func %}

{% block content %}
<div class="pagetitle">
    <h1>Edit Role</h1>
    <nav>
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="{% url 'admin:dashboard' %}">Home</a></li>
            <li class="breadcrumb-item"><a href="{% url 'admin:roleList' %}">Role List</a></li>
            <li class="breadcrumb-item">Edit Role</li>
        </ol>
    </nav>
</div>
<section class="section">
    {% if messages %}
    {% for message in messages %}
    {% if forloop.counter == 1 %}
    <div class="{{ message.tags }}" style="height: 30px;">{{ message }}</div>
    {% endif %}
    {% endfor %}
    {% endif %}
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-6">
                            <h4 class="card-title">Edit Role</h4>
                        </div>
                        <div class="col-md-6 mt-3">
                            <div class="float-end">
                                <a href="{% url 'admin:roleList' %}" class="btn btn-primary btn-sm">Back</a>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <form class="forms-sample" action="{% url 'admin:roleEdit' result.id %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="id" value="{{result.id}}">
                            <div class="form-group">
                                <label for="name">Role Name</label>
                                <input type="text" class="form-control" name="name" id="name" placeholder=""
                                    value="{{result.name}}" required>
                            </div>
                            {% if request.user.is_superuser == 1 or 'change_role'|get_session_permission:request is not None %}
                            <div class="mt-3">
                                <button type="submit" class="btn btn-success me-2">Update</button>
                                <button type="reset" class="btn btn-light">Reset</button>
                            </div>
                            {% endif %}
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

{% block js %}
{% endblock %}